.wallPaper {
  position: fixed;
  background-size: cover; /* دي أهم حاجة: بتخلي الصورة تغطي العنصر بالكامل مع الحفاظ على الأبعاد */
  background-position: center; /* بتخلي الصورة في المنتصف أفقياً ورأسياً */
  background-repeat: no-repeat; /* عشان تتأكد إن الصورة مش هتتكرر لو العنصر أكبر منها */
  width: 100vw;
  height: 100vh;
}
.hero {
  width: 100vw;
  height: 100vh;
  /* background-image: url(./b-047.jpg); */
  /* background: url(./b-047.jpg); */
  img {
    z-index: -50;
  }
  .boxUrl {
    background-color: #ffffffac;
    box-shadow: 0 0 20px 6px #ffffffac;
    top: 20vh;
    .btn {
      width: 7rem;
      height: 8rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: nowrap;

      i {
        top: 0;
        right: 0;
      }
      .icon {
        width: 90%;
      }
      span {
        /* width: 2rem;
        height: 1rem; */
      }
    }
  }
}

/* sarch bar */
.bar {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0 auto;
  margin-bottom: 5rem;
  width: 575px;
  border-radius: 30px;
  border: 1px solid #dcdcdc;
  justify-content: center;
  background-color: #212529;
}
.bar:hover {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.bar:focus-within {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline: none;
}
.searchbar {
  height: 45px;
  border: none;
  width: 500px;
  font-size: 16px;
  outline: none;
}
.voice {
  height: 20px;
  position: relative;
  /* top: 5px;
  left: 10px; */
}
